/*----------------
 google fonts 
 -----------------*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 /*----------------
  common styles
  --------------- */
 body{
    font-family: 'Fira Sans Condensed', sans-serif;
}
 .container{
    width: 1160px;
    margin: 0 auto;
}
 /*----------------
  header styles 
  ----------------*/
  header{
    background-color: #2D25A0;
    width: 100%;
    
  }
  /* navicaton styles */
  .nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
  .menu-bar{
    margin-top: 10px;
    height: 35px;
    margin-top: 42px;
    transition: all 0.3s;
}
  .menu-bar a{
    text-decoration: none;
    font-weight: 500;
    color: white;
    margin-right: 15px;
}
  .login{
    width: 123px;
    background-color: #E02C6D;
    padding: 10px;
    transition: all 0.3s;
    height: 35px; 
    margin-top: 38px;
    text-align: center;
}
  .login:hover{
    background-color: violet;
}
  .login a{
    margin-top:10px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
/*-----------------------
 head secstions styles 
 ----------------------*/
  .head-section{
    display: flex;
    justify-content: space-between;
}
  .section-title{
     width: 40%;
}
  .section-title h1 {
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    margin-top: 113px;
}
  .secton-thumble img{
    width: 556px;
    margin-top: 45px;
    margin-bottom: 100px;
 }
 /*------------------
  main styles
  -------------------- */
  .players{
    width: 1050px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    row-gap: 27px;
    margin-left:180px ;
    margin-right:210px ;
}
  .player{
    width: 300px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
  .player-thumble img{
    width: 100%;
}
  .player-name{
    font-size: 28px;
    font-weight: 700;
}
  .player-addres{
    color: #6C6C6C;
}
/*-------------------------
 hilight sectons styles
 -------------------------- */
  .hilight-section{
    display: flex;
 }
  .hilight{
    margin: 224px 76px 0px 182px;
}
  .hilight h1{
    font-weight: 700;
    font-size: 48px;
}
  .hilight p{
    color: #6C6C6C;
    width: 404px;
    margin-top: 10px;
}
  .hilight-img img{
    width: 567px;
    height: 427px;
    margin-top: 165px;
    margin-right: 149px;
    margin-bottom: 158px;
}
/* ------------
footer styles
-------------- */
  .footer{
    width: 483.87px;
    height: 110px;
    margin-left: 475px;
    margin-right: 481.13px;
    margin-bottom: 63px;
}
  .footer img{
    width: 100%;
}
  .socile-icon{
    margin:20px 156.94px ;
}
  .socile-icon i{
    height: 32px;
    width: 32px;
    
}
  .copy-roght{
    height: 60px;
    
}
  .copy-roght p{
    text-align: center;
}

/* ---------------
responsive styles
----------------  */
/* ---------------
for mobile device
-------------------- */
@media only screen and (max-width:688px){ 
    
    
    
    
    .container{
    width: 600px;
   
    }
    .nav{
        display: none;
    }
    .head-section{
        flex-direction: column;
        row-gap: 100px;
    }
    .secton-thumble img{
        width: 350px;
    }
    .section-title{width: 30%;
        margin-left: 20px;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
        width: 400px;
        margin: 0;
        
    }
    .player{
         margin-left: 10px;
    }
    .hilight-section{
        display: block;
    }
    .hilight{
        margin: 0;
    }
    .hilight p{
        width: 300px;
    }
    .hilight-img img{width: 300px;
    }
    .footer{
        margin: 0 auto;
        width: 300px;
    }
    .socile-icon{
        margin:0;
    }
    .socile-icon a{
        text-align: center;
    }
}
/*------------------
responsive for tablet
-------------------- */
@media only screen and 
(min-width:688px) and (max-width:992px) {
    .container{
        width: 950px;
        margin: 0 auto;
        } 
        .nav{
            display: none;
        }
        .head-section{
            flex-direction: column;
            row-gap: 100px;
        }
        .secton-thumble img{
            width: 450px;
            margin-left: 166px;
        }
        .section-title{width: 40%;
            margin-left: 200px;
        }
        .players{
            grid-template-columns: repeat(2,1fr);
            width: 900px;
            margin: 0;
            
        }
        .player{
            margin-left:80px;
        }
        header{
            margin-left: 95px;
        }
        .hilight-section{
            display: block;
        }
        .hilight{
            display: block;}
        .hilight-img img{
            width: 700px;
         margin-left: 150px;} 
         .footer{
            margin: 0 auto;
            width: 500px;
        }   
}

