/*----------------
 google fonts 
 -----------------*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 /*----------------
  common styles
  --------------- */
 body{
    font-family: 'Fira Sans Condensed', sans-serif;
 }
 .container{
    width: 1160px;
    margin: 0 auto;
 }
 /*----------------
  header styles 
  ----------------*/
  header{
      background-color: #2D25A0;
      width: 100%;
  }
  /* navicaton styles */
.nav{
      display: flex;
      justify-content: space-between;
      height: 35px;
      padding: 10px;
  }
  .menu-bar{
      margin-top: 10px;
  }
  .menu-bar a{
      text-decoration: none;
      font-weight: 500;
      color: white;
      margin-right: 15px;
  }
  .login{
       width: 123px;
      background-color: #E02C6D;
      padding: 10px;
  }
  .login:hover{
      background-color: violet;
}
.login a{
    color: white;
    text-decoration: none;
   display: flex;
   justify-content: space-between;
}
/*-----------------------
 head secstions styles 
 ----------------------*/
  .head-section{
      display: flex;
      justify-content: space-between;
  }
  .section-title{
      width: 455px;
  }
.section-title h1 {
     color: white;
     font-size: 64px;
     font-weight: 700;
     line-height: 80px;
    }
 .secton-thumble img{
      width: 556px;
 }


